/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D577CF;
}

header {
    background-color: wheat;
    width: 100%;
    background-color: #632D78;
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Espacio entre los elementos */
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra verticalmente los elementos en dispositivos móviles */
    text-align: center; /* Centra el texto horizontalmente en dispositivos móviles */
}

.banner img {
    max-width: 40%; /* Hace que la imagen sea responsive */
    height: auto;
}

.concurso {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centra el texto horizontalmente en dispositivos móviles */
}

.concurso p {
    font-size: 28px; /* Reduce el tamaño del texto en dispositivos móviles */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-align: center;
}

.concurso img {
    max-width: 50%; /* Hace que el logo sea responsive */
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #480B58;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFD1EF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: justify;
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
}

p {
    padding: 0 20px; /* Reduce el espacio lateral en dispositivos móviles */
    text-align: justify;
}

.photo-sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.photo {
    flex: 1;
    margin: 10px;
}

footer {
    width: 90%;
    text-align: center;
    background-color: #632D78;
    color: #fff;
    border-radius: 20px;
}

.dedicatoria p {
    font-style: oblique;
    text-align: center; /* Centra el texto horizontalmente en dispositivos móviles */
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column; /* Cambia a disposición vertical en dispositivos móviles */
        align-items: center;
    }
.banner{
    display: flex;
    flex-direction: column;

}
    .banner img {
        max-width: 100%; /* Hace que la imagen sea responsive en dispositivos móviles */
    }

    .concurso p {
        font-size: 20px; /* Reduce el tamaño del texto en dispositivos móviles */
    }

    .concurso img {
        max-width: 100%; /* Hace que el logo sea responsive en dispositivos móviles */
    }

    main {
        padding: 10px;
    }

    .photo-sidebar {
        flex-direction: column;
    }

    .photo {
        margin: 10px 0;
    }

    .dedicatoria p {
        text-align: center;
    }
}