/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D577CF;
}

header {
    background-color: wheat;
    height: auto;
    width: 100%;
    background-color: #632D78;
    
}
.banner {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */
}
.banner img{
    height: 300px; 
}
.concurso{
    display: flex;
    flex-direction: column;
    align-items: end;
    
    
}
.concurso p{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    text-align: end;

}
.concurso img{
    height: 10%;  
    width: 50%;  
    border-radius: 5px;
    align-items: end;
}

h2{
    color: #480B58;
    text-align: center;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFD1EF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: justify;
    
}

h2 {
    font-size: 1.8em;
    margin-top: 20px;
}
p{
    padding: 0 40px 0 40px;
    text-align: justify;
}
.photo-sidebar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    
}

.photo {
    flex: 1;
    margin: 0 10px;
    
}

footer {
    width: 90%;
    text-align: center;
    background-color: #632D78;
    color: #fff;
    display: flex;
    border-radius: 20px;
    
}
.dedicatoria p{
    text-align: end;
    font-style: oblique;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    
    
    main {
        padding: 10px;
    }
    
    .photo-sidebar {
        flex-direction: column;
    }
    
    .photo {
        margin: 10px 0;
    }
}